﻿@model BannerViewModel

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">Banner Create Form</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <form asp-area="Admin" asp-controller="Banners" asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Preview image before upload -->
                                        <p>Preview</p>
                                        <div id="wrapper" style="width:200px;height:200px">
                                            <div id="banner-image-holder"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="bannerFileformSection" class="form-group">
                                            <input id="fileUpload" asp-for="@Model.ImageData" type="file" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.StartDate" class="control-label"></label>
                                            <input asp-for="@Model.StartDate" class="form-control" />
                                            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.EndDate" class="control-label"></label>
                                            <input asp-for="@Model.EndDate" class="form-control" />
                                            <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" id="createBannerPartialButtonId" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="@Model.ImageLocationPath" class="control-label"></label>
                                        <input id="SelectedImageName" asp-for="@Model.ImageLocationPath" class="form-control" pattern=".{3,}" required placeholder="image path and name: 3 characters minimum" width="250" />
                                        <span asp-validation-for="@Model.ImageLocationPath" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="@Model.UrlLink" class="control-label"></label>
                                        <input asp-for="@Model.UrlLink" class="form-control" pattern=".{3,}" required placeholder=" url link: 3 characters minimum" width="250" />
                                        <span asp-validation-for="@Model.UrlLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
