﻿

        <div class="card mb-4">
            <div class="card-header">Create client's account</div>
            <div class="card-body">
                <form class="form-horizontal row mt-2" id="create-account-form">

                    <div class="col-xl-12 col-lg-12  col-sm-12">
                        <div class="form-group">
                            <label>Client</label>
                            <div class="ui-widget" id="divlist">
                                <input type="text" class="form-control" name="search" placeholder="Search.." ID="clientList" data-clientid="" data-clientname=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12  col-sm-12">
                        <div class="form-group">
                            <label>Balance</label>
                            <input type="number" class="form-control" placeholder="Enter balance" value="10000" ID="accountBalance" data-accbalance="10000" required autofocus="" disabled>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-left">
                        <button type="button" class="btn btn-default mt-2" onclick="ClientAccountsModal()">Client's accounts</button>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-right">
                        <button type="submit" class="btn btn-default mt-2">Create</button>
                    </div>
                </form>
            </div>
        </div>