﻿
<div class="card mb-4">
    <div class="card-header">Create client</div>
    <div class="card-body">
        <form class="form-horizontal row mt-2" id="create-client-form">
            <div class="col-xl-12 col-lg-12  col-sm-12">
                <div class="form-group">
                    <label>New client name</label>
                    <input type="text" class="form-control" placeholder="Client name - 3 to 35 symbols" ID="clientName" required autofocus="">
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-left">
            @*<p>Zakomentareno ot Vasil VNY</p>*@
            <button type="button" class="btn btn-default mt-2" onclick="ShowClientListModal();">Clients list</button>
            </div>
            @*<div class="col-6 text-left">
                <button type="button" class="btn btn-default mt-2" onclick="EditClientModal();">Edit client</button>
            </div>*@
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-right">
                <button type="submit" class="btn btn-default mt-2">Create</button>
            </div>
        </form>
    </div>
</div>
