﻿  <!-- Navigation UP-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="index">
        <img class="logo_icon" src="/images/logo_icon.png">
        <img class="logo" src="/images/dashboard_logo.png">
    </a>
    <div class="mobile_menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-menu icons"></span>
        </button>
        <a href="#/index.html" class="navbar-toggler" data-toggle="collapse" data-target="#navbarheader" aria-controls="navbarheader" aria-expanded="false" aria-label="Toggle navigation"><i class="icon-options-vertical"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarheader">
        <ul class="navbar-nav">
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link text-center menubar" id="sidenavToggler">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)/index.html" class="search_icon"><i class="fa fa-search"></i></a>
                <form class="form-inline search_input">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
        <partial name="_UserBannerPartial">
    </div>

    <!-- Navigation SIDE-->

    <div class="collapse navbar-collapse navbar-sidenav fc-scroll" id="navbarResponsive">
        <ul class="navbar-nav" id="exampleAccordion">
            <li class="nav-item active" id="menu-item1">
                <a class="nav-link" asp-area="Admin" asp-controller="Accounts" asp-action="Index" onclick="return menuClick('menu-item1');">
                    <i class="icon-wallet icons"></i>
                    <span class="nav-link-text">User management</span>
                </a>
            </li>
            <li class="nav-item" id="menu-item2">
                <a class="nav-link" asp-area="Admin" asp-controller="Banners" asp-action="Index" onclick="return menuClick('menu-item2');">
                    <i class="icon-grid icons"></i>
                    <span class="nav-link-text">Banner management</span>
                </a>
            </li>
            @*<p>Zakomentareno ot vasil VNY</p>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Clients" asp-action="Index">
                <i class="icon-bag icons"></i>
                <span class="nav-link-text">Client management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="PayCloudUsers" asp-action="Index">
                <i class="icon-shuffle icons"></i>
                <span class="nav-link-text">User management</span>
            </a>
        </li>*@
            @*<li class="nav-item">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages/index.html" data-parent="#exampleAccordion">
                <i class="icon-user-follow icons"></i>
                <span class="nav-link-text">My Account</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                <li>
                    <a href="profile.html">Profile</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="register.html">Registration</a>
                </li>
            </ul>
        </li>*@
        </ul>
    </div>

</nav>