﻿<div class="col-12">
    <div class="card mb-4">
        <div class="card-header">Account Analytics</div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="50"></canvas>
        </div>
    </div>
</div>
