﻿@model AccountNickname

<div class="card mb-4">
    <div class="card-header"></div>
    <div class="card-body">
        <form class="form-horizontal row mt-2">

            <div class="col-xl-12 col-lg-12  col-sm-12">
                <div class="form-group">
                    <label>Balance</label>
                    <input type="text" class="form-control" value="@Model.Nickname" ID="nickname-input" required autofocus="">
                </div>
            </div>
            <div class="col-12 text-right">
                <button type="button" class="btn btn-default mt-2" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default mt-2" onclick="changeNickname(@Model.AccountId)">&nbsp;Save&nbsp;</button>
            </div>
        </form>
    </div>
</div>