﻿<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">Buy / Sell Token</div>
            <div class="card-wrap">
                <ul role="tablist" id="pills-tab" class="nav nav_tab">
                    <li class="nav-item">
                        <a href="#tab1" data-toggle="tab" class="nav-link active">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab2" data-toggle="tab" class="nav-link">Sell</a>
                    </li>
                </ul>
                <div class="tab-content card-body">
                    <div role="tabpanel" id="tab1" class="tab-pane fade show active">
                        <div class="row">
                            <div id="transactionListPartial"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab2" class="tab-pane fade">
                        <div class="row">
                            <div id="transactionListPartial"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>