﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login - Pay Cloud";
}


<div>
    <div class="bg_image h-100">
        <div class="lr_wrap">
            <div class="card-body">
                @if ((null != Model) && (null != Model.Banners) && (0 < Model.Banners.Count()))
                {
                    <div class="col-12">
                        <div class="card-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    @{ int counter = 0; }
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@counter" class="active"></li>
                                    @foreach (var item in Model.Banners.Skip(1))
                                    {
                                        counter++;
                                        <li data-target="#carouselExampleIndicators" data-slide-to="@counter"></li>
                                    }
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a target="_blank" rel="noopener noreferrer" href="@Model.Banners.First().UrlLink"><img class="d-block w-100" src="@Model.Banners.First().ImgLocationPath" alt="@Model.Banners.First().ImgLocationPath" style="width:200px;height:200px"></a>
                                    </div>
                                    @foreach (var item in Model.Banners.Skip(1))
                                    {
                                        <div class="carousel-item">
                                            <a target="_blank" rel="noopener noreferrer" href="@item.UrlLink"><img class="d-block w-100" src="@item.ImgLocationPath" alt="@item.ImgLocationPath" style="width:200px;height:200px"></a>
                                        </div>
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                <div class="lr_icon text-center">
                    <img src="images/logo_icon.png" alt="logo" />
                </div>
                <h6 class="my-4 text-center text-uppercase">Welcome to Pay Cloud</h6>
                <form asp-controller="Identity" asp-action="Login" asp-area="user" method="post">
                    <div class="input-item">
                        <label for="InputEmail">Username</label>
                        <input asp-for="Username" id="InputEmail" type="text" value="DemoUser" placeholder="Your Username" class="form-control" required>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="input-item">
                        <label for="InputPassword">Password</label>
                        <input asp-for="Password" type="password" id="InputPassword" value="a1234567" placeholder="Password" class="form-control" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <br />
                        <button type="submit" class="btn btn-default btn-block">Log In</button>
                    </div>
                </form>
                <br />
                <br />
                <a class="btn btn-default btn-block" asp-controller="Login" asp-action="adminlogin" asp-area="admin">Go to Admin demo page</a>
            </div>
        </div>
    </div>

</div>
